<div class="pass-request-card">
  <header>
    <div class="pass-request-card__first-line">
      <h2>Заявка на пропуск</h2>
      <span class="status" [class]="passRequest.status">
        {{ passRequest.status }}
      </span>
    </div>

    @if (isEditingStatus) {
      <form [formGroup]="form" class="status-edit">
        <select class="select" formControlName="status">
          @for (s of availableStatuses; track s) {
            <option [value]="s">{{ s }}</option>
          }
        </select>
        <div>
          <button class="btn btn_error" type="button" (click)="cancelStatusChange()">Отменить</button>
          <button class="btn" type="button" (click)="confirmStatusChange()">Подтвердить</button>
        </div>
      </form>
    } @else {
      <span
        class="status-click-edit"
        [class]="passRequest.status"
        (click)="startStatusEdit()"
        title="Кликните, чтобы изменить статус"
      >
        Изменить статус
      </span>
    }
  </header>

	<div class="user-list-info">
		  <section class="user-list-info__item">
				<strong>Email:</strong>
				<span>{{ passRequest.user.email }}</span>
			</section>

			<section class="user-list-info__item">
				<strong>Организация:</strong>
				<span>{{ passRequest.user.organization }}</span>
			</section>

			<section class="user-list-info__item">
				<strong>Телефон:</strong>
				<span>{{ passRequest.user.phone }}</span>
			</section>

			<section class="user-list-info__item">
				<strong>Роль:</strong>
				<span>{{ passRequest.user.role }}</span>
			</section>

			<section class="user-list-info__item">
				<strong>Цель визита:</strong>
				<span>{{ passRequest.visitPurpose }}</span>
			</section>
	</div>

  <section class="history">
    <h3 (click)="toggleStatusHistory()" style="cursor: pointer">
      История статусов
      <span>
        {{ showStatusHistory() ? '▲' : '▼' }}
      </span>
    </h3>

    @if (showStatusHistory()) {
      <ul>
        @for (item of passRequest.statusHistory; track item.changedAt) {
          <li>
            <span class="history-status">{{ item.status }}</span>
            <span class="history-date">{{ item.changedAt | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
          </li>
        }
      </ul>
    }
  </section>
</div>
