.header__wrapper	 {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.header__nav {
	margin-right: auto;
}

.footer {
  padding: 1.5rem;
}

.btn-logout {
  cursor: pointer;
}
